<h1>Settings#index</h1>
<p>Find me in app/views/settings/index.html.erb</p>

<%= link_to 'Volver', spree.products_url %>

<ul class="list">
  <li><%= link_to(image_tag ('Spain.png')), url_for({:controller => "settings", :action => "set", :id => "es"})  %></li>
  <li><%= link_to(image_tag ('France.png')), url_for({:controller => "settings", :action => "set", :id => "fr"})  %></li>
</ul>
