<% content_for :sidebar do %>
  <% if "products" == @current_controller && @taxon %>
    <%= render :partial => "spree/shared/filters" %>
  <% else %>
    <%= render :partial => "spree/shared/taxonomies" %>
  <% end %>
<% end %>

<%#= render :partial => 'spree/shared/error_messages', :locals => { :target => @setting } %>

  
<h1>Settings#index</h1>
<p>Find me in app/views/settings/index.html.erb</p>


<ul class="list">
  <li><%= image_tag('France.png'), :size => "50x50" %></li>
  <li><%= image_tag('Spain.png'), :size => "50x50" %></li>
</ul>

