<!DOCTYPE html>
<html>
<head>
  <title>Rodamoto</title>
  <%= stylesheet_link_tag    "store/spree_settings", :media => "all" %>
  <%= javascript_include_tag "store/spree_settings" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield :main %>

</body>
</html>
