<!DOCTYPE html>
<html>
<head>
  <title>Rodamoto</title>
  <%= stylesheet_link_tag    "store/spree_change_locale", :media => "all" %>
  <%= javascript_include_tag "store/spree_change_locale" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id="locale_bar">
<h1>Prueba de presentacion</h1>
</ul>

</body>
</html>
